.first {
    display: flex;
    text-align: center;
    justify-content: center;
}

header a:hover {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

header a.active {
    opacity: 50%;
    cursor: auto;
    text-shadow: none;
}

header {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.layout{
    width: 100%;
}