.todoItem {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 50vw;
    height: 100%;
    word-break: break-all;
    border-radius: 10px;
    padding: 4px;
    transition: background-color 1s;
    margin: 10px;
    box-sizing: border-box;
}

.todoItemDone {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 50vw;
    height: 100%;
    word-break: break-all;
    text-decoration: line-through;
    border-radius: 10px;
    padding: 4px;
    transition: background-color 1s;
    margin: 10px;
    box-sizing: border-box;
}

@keyframes rotateOnClick {
    0% {
        /* transform: rotateY(0); */
    }

    100% {
        transform: rotateY(360deg);
    }
}

.todoItem:hover {
    background-color: lightsteelblue;
}

.todoItemDone:hover {
    background-color: lightsteelblue;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}